body{
    background: linear-gradient(to right, #50c9c3, #96deda)

}
#img-div{
        display: flex;
    justify-content: center;
    align-items: center; 
}
img{
    margin: 10px;
}
div{
    display: flex;
}
#score-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 28rem;
    margin-top: 10rem;
    border: 5px solid black;
    width: 600px;
    height: 200px;
    background-color: white;
}
#score{
    font-size: 30px;
}
button{
    background-color: blue;
    color: burlywood;
    width: 150px;
    height: 50px;
    display: none;
}
#button-div{
    justify-content: center;
    display: flex;
    align-items: center;
}
#info{
    color: black;
    display: flex;
    text-align: center;
    max-width: 200px;
}
@media only screen and (max-width: 768px) {
    body{
        background-color: aqua;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    img{
        width: 100px;
        height: 100px;
    }
    div{
        display: flex;
    }
    #score-div{ 
        margin-left: 0;
    margin-top: 5rem;
        border: 5px solid black;
        width: 300px;
        height: 200px;
        background-color: white;
    }
    #score{
        font-size: 15px;
    }
    button{
        background-color: blue;
        color: burlywood;
        width: 150px;
        height: 50px;
        display: none;
    }
 
    #info{
        color: black;
        display: flex;
        text-align: center;
        max-width: 200px;
    }
  }
